name: build-dev

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: [self-hosted, Linux]

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Test
        run: |
          npm install -g yarn
          yarn
          cp ~/hy-service.env .env
          #yarn test

      - name: Migration
        run: |
          yarn m:check || yarn m:run
          yarn m:check

      - name: Build & Run
        env:
          CI: true
        run: |
          rm .env || true
          cp ~/hy-service.container.env .env
          docker build -t hy-service:${{ github.sha }} -f Dockerfile.dev .
          docker rm -f hy-service-dev || true
          docker run -d --add-host=host.docker.internal:host-gateway -p 80:3000 --name hy-service-dev hy-service:${{ github.sha }}
          docker image prune -a -f 

      - name: Slack Failure Notification
        uses: rtCamp/action-slack-notify@v2
        if: ${{ failure() }}
        env:
          SLACK_COLOR: ${{ job.status }}
          SLACK_MESSAGE: 'HY dev service 环境更新 运行失败'
          SLACK_TITLE: HY 慧研
          SLACK_USERNAME: BOT
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

      - name: Slack Failure Notification
        uses: rtCamp/action-slack-notify@v2
        if: ${{ success() }}
        env:
          SLACK_COLOR: ${{ job.status }}
          SLACK_MESSAGE: 'HY dev service 环境更新 运行成功, http://demobox-hy.xyfolder.com/api/docs'
          SLACK_TITLE: HY 慧研
          SLACK_USERNAME: BOT
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
