name: build-ci

on:
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: [self-hosted, Linux]

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: docker compose
        run: |
          cp .env.ci .env
          docker-compose up -d
          sleep 10

      - name: Test
        run: |
          npm install -g yarn
          yarn

      - name: Migration
        run: |
          yarn m:check || yarn m:run
          yarn m:check

